.message {
	padding: 15px 10px;
	margin: 15px 20px;
	min-height: 30px;
	max-width: 600px;
	background: $field;
	box-sizing: unset;
	hyphens: auto;
	overflow: hidden;
	scroll-snap-align: end;

	&__mine {
		text-align: end;
		align-items: end;
		margin-left: auto;
		justify-content: end;
		background: $surface;
	}
}

.message-field{
	width: 99.5%;
	max-height: 85%;
	margin: 2px;
	padding: 0;
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x:  hidden;
	box-sizing: border-box;
	justify-content: end;
	scroll-padding: 10px;
	scroll-snap-align: end;
	scroll-snap-type: y mandatory;


	&_no-selected-chat{
		@extend %fontForHeaders;
		margin: auto;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: center;
	}
}

