@import "variables";

.upload-file {
	position: relative;
	z-index: 10;
	&__label{
		margin: 20px 0;
	}
	&__input{
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		position: absolute;
		z-index: -10;

	}
}

.preview-avatar {
	@extend %in-window-border;
	width: 100px;
	height: 150px;
	overflow: hidden;
	object-fit: cover;

}
