@charset "UTF-8";
@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}
main .chat-send-block__send, main .chat-text-block__user-name, main .chat-text-block__to-talk-to-name, main .chat-list .chat-list-item__unread, main .chat-list .chat-list-item__date, main .chat-list .chat-list-item__information, main .chat-list .chat-list-item__message-from, main .chat-list__button, .main-window__top-line > h1, .main-window__top-line > h2, .message-field_no-selected-chat, .login-form__field-label, .button, .user-settings__field-label {
  font-family: "Press Start 2P", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@font-face {
  font-family: "Post Pixel-7";
  src: url("../fonts/post_pixel-7.ttf");
}
.status-bar__section, main .chat-send-block__textarea, main .chat-list .chat-list-item__message-text {
  font-family: "Post Pixel-7", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

::-webkit-scrollbar-thumb, .main-window, main .chat-send-block__send, main .chat-send-block__clip, .main-window__manager_maximize, .main-window__manager_minimize, .main-window__manager_close, .button {
  border: 0;
  box-shadow: inset -1px -1px 0 #1e1e1e, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
}

main .chat-send-block__textarea, main .chat-text-block, main .chat-list, .preview-avatar, .login-form__field-text, main .chat-send-block__send:active, main .chat-send-block__clip:active, .main-window__manager_maximize:active, .main-window__manager_minimize:active, .main-window__manager_close:active, .button:active, .user-settings__field-text {
  border: 0;
  box-shadow: inset 1px 1px 0 #1e1e1e, inset -1px -1px 0 #dfdfdf, inset 2px 2px 0 #808080, inset -2px -2px 0 #fff;
}

.status-bar__section, .main-window__spacer {
  border: 0;
  box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #f4f4f4;
}

.user-settings {
  min-width: 500px;
}
.user-settings__avatar {
  margin: 20px;
  width: 120px;
  height: 120px;
}
.user-settings__button {
  font-size: 8px;
}
.user-settings__button:first-child {
  margin-right: 8px;
}
.user-settings__button:last-child {
  margin-left: 8px;
}
.user-settings__field-label {
  font-size: 9px;
}
.user-settings__field-label:first-child {
  margin-top: 20px;
}
.user-settings__field-text {
  width: 98%;
  height: 25px;
  margin-bottom: 8px;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}
main .chat-send-block__send, main .chat-text-block__user-name, main .chat-text-block__to-talk-to-name, main .chat-list .chat-list-item__unread, main .chat-list .chat-list-item__date, main .chat-list .chat-list-item__information, main .chat-list .chat-list-item__message-from, main .chat-list__button, .main-window__top-line > h1, .main-window__top-line > h2, .message-field_no-selected-chat, .login-form__field-label, .button, .user-settings__field-label {
  font-family: "Press Start 2P", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@font-face {
  font-family: "Post Pixel-7";
  src: url("../fonts/post_pixel-7.ttf");
}
.status-bar__section, main .chat-send-block__textarea, main .chat-list .chat-list-item__message-text {
  font-family: "Post Pixel-7", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

::-webkit-scrollbar-thumb, .main-window, main .chat-send-block__send, main .chat-send-block__clip, .main-window__manager_maximize, .main-window__manager_minimize, .main-window__manager_close, .button {
  border: 0;
  box-shadow: inset -1px -1px 0 #1e1e1e, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
}

main .chat-send-block__textarea, main .chat-text-block, main .chat-list, .preview-avatar, .login-form__field-text, main .chat-send-block__send:active, main .chat-send-block__clip:active, .main-window__manager_maximize:active, .main-window__manager_minimize:active, .main-window__manager_close:active, .button:active, .user-settings__field-text {
  border: 0;
  box-shadow: inset 1px 1px 0 #1e1e1e, inset -1px -1px 0 #dfdfdf, inset 2px 2px 0 #808080, inset -2px -2px 0 #fff;
}

.status-bar__section, .main-window__spacer {
  border: 0;
  box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #f4f4f4;
}

main .chat-send-block__send, main .chat-send-block__clip, .main-window__manager_maximize, .main-window__manager_minimize, .main-window__manager_close, .button {
  background: #c0c0c0;
  text-decoration: underline;
  cursor: pointer;
}
.button {
  text-decoration: none;
  color: #1e1e1e;
  height: 35px;
  width: 140px;
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-img {
  cursor: pointer;
}

.main-window__manager_maximize, .main-window__manager_minimize, .main-window__manager_close {
  box-sizing: border-box;
  min-width: 16px;
  height: 14px;
  margin: 0;
  background: #c0c0c0;
}

main .chat-text-block__spacer, main .chat-list__spacer {
  background-image: url("../img/4-color-line.svg");
  background-size: cover;
}

.main-window {
  background: #c0c0c0;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.25));
}

.main-window__manager_close {
  background-image: url("../icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}

.main-window__manager_minimize {
  background-image: url("../icon/minimize.svg");
  background-repeat: no-repeat;
  background-position: top 9px left 5px;
}

.main-window__manager_maximize {
  background-image: url("../icon/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.container_column_start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.container_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_column_end {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.container_row_start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.container_row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container_row_end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.container_row_between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 163px;
  height: 62px;
  margin: 0 auto 20px;
  background: url("../img/LOGO.svg");
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #c0c0c0;
}

::-webkit-scrollbar-track {
  background-image: url("../icon/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../icon/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../icon/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("../icon/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("../icon/button-right.svg");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}
main .chat-send-block__send, main .chat-text-block__user-name, main .chat-text-block__to-talk-to-name, main .chat-list .chat-list-item__unread, main .chat-list .chat-list-item__date, main .chat-list .chat-list-item__information, main .chat-list .chat-list-item__message-from, main .chat-list__button, .main-window__top-line > h1, .main-window__top-line > h2, .message-field_no-selected-chat, .login-form__field-label, .user-settings__field-label, .button {
  font-family: "Press Start 2P", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@font-face {
  font-family: "Post Pixel-7";
  src: url("../fonts/post_pixel-7.ttf");
}
.status-bar__section, main .chat-send-block__textarea, main .chat-list .chat-list-item__message-text {
  font-family: "Post Pixel-7", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

main .chat-send-block__send, main .chat-send-block__clip, .button, .main-window, .main-window__manager_close, .main-window__manager_minimize, .main-window__manager_maximize, ::-webkit-scrollbar-thumb {
  border: 0;
  box-shadow: inset -1px -1px 0 #1e1e1e, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
}

main .chat-send-block__textarea, main .chat-text-block, main .chat-list, .preview-avatar, .login-form__field-text, .user-settings__field-text, main .chat-send-block__send:active, main .chat-send-block__clip:active, .button:active, .main-window__manager_close:active, .main-window__manager_minimize:active, .main-window__manager_maximize:active {
  border: 0;
  box-shadow: inset 1px 1px 0 #1e1e1e, inset -1px -1px 0 #dfdfdf, inset 2px 2px 0 #808080, inset -2px -2px 0 #fff;
}

.status-bar__section, .main-window__spacer {
  border: 0;
  box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #f4f4f4;
}

.error {
  background: #000;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e77431;
  font-weight: 900;
  position: absolute;
}
.error__title {
  font-size: 90px;
  line-height: 40px;
  margin-bottom: 30px;
}
.error__p {
  font-size: 36px;
  line-height: 51px;
  margin: 5px;
}
.error__link {
  background: none;
  margin-top: 30px;
  text-decoration: none;
  color: #e77431;
  font-size: 20px;
  line-height: 28px;
}

.main-window_login-form {
  align-items: center;
}
.main-window__top-line_login-form {
  width: 98%;
  height: 23px;
  align-items: center;
}
.main-window__manager_close {
  margin-right: 5px;
}

.login-form {
  width: 300px;
  height: 90%;
  align-items: start;
}
.login-form__field-text {
  width: 98%;
  height: 25px;
  margin-bottom: 15px;
}
.login-form__field-label {
  font-size: 9px;
}
.login-form__field-label_no-valid {
  color: red;
  position: relative;
  top: -12px;
  margin: 0;
  padding: 0;
  min-height: 12px;
}

.message {
  padding: 15px 10px;
  margin: 15px 20px;
  min-height: 30px;
  max-width: 600px;
  background: #fff;
  box-sizing: unset;
  hyphens: auto;
  overflow: hidden;
  scroll-snap-align: end;
}
.message__mine {
  text-align: end;
  align-items: end;
  margin-left: auto;
  justify-content: end;
  background: #c0c0c0;
}

.message-field {
  width: 99.5%;
  max-height: 85%;
  margin: 2px;
  padding: 0;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  justify-content: end;
  scroll-padding: 10px;
  scroll-snap-align: end;
  scroll-snap-type: y mandatory;
}
.message-field_no-selected-chat {
  margin: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}
main .chat-send-block__send, main .chat-text-block__user-name, main .chat-text-block__to-talk-to-name, main .chat-list .chat-list-item__unread, main .chat-list .chat-list-item__date, main .chat-list .chat-list-item__information, main .chat-list .chat-list-item__message-from, main .chat-list__button, .main-window__top-line > h1, .main-window__top-line > h2, .user-settings__field-label, .button, .login-form__field-label, .message-field_no-selected-chat {
  font-family: "Press Start 2P", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

@font-face {
  font-family: "Post Pixel-7";
  src: url("../fonts/post_pixel-7.ttf");
}
.status-bar__section, main .chat-send-block__textarea, main .chat-list .chat-list-item__message-text {
  font-family: "Post Pixel-7", ui-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

main .chat-send-block__send, main .chat-send-block__clip, .button, .main-window, .main-window__manager_close, .main-window__manager_minimize, .main-window__manager_maximize, ::-webkit-scrollbar-thumb {
  border: 0;
  box-shadow: inset -1px -1px 0 #1e1e1e, inset 1px 1px 0 #dfdfdf, inset -2px -2px 0 #808080, inset 2px 2px 0 #fff;
}

main .chat-send-block__textarea, main .chat-text-block, main .chat-list, .preview-avatar, .user-settings__field-text, main .chat-send-block__send:active, main .chat-send-block__clip:active, .button:active, .main-window__manager_close:active, .main-window__manager_minimize:active, .main-window__manager_maximize:active, .login-form__field-text {
  border: 0;
  box-shadow: inset 1px 1px 0 #1e1e1e, inset -1px -1px 0 #dfdfdf, inset 2px 2px 0 #808080, inset -2px -2px 0 #fff;
}

.status-bar__section, .main-window__spacer {
  border: 0;
  box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #f4f4f4;
}

.upload-file {
  position: relative;
  z-index: 10;
}
.upload-file__label {
  margin: 20px 0;
}
.upload-file__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

.preview-avatar {
  width: 100px;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}

body {
  margin: 0;
}

.wrapper {
  background: #008080;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-window {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.25));
}
.main-window_chat {
  width: 1280px;
  height: 720px;
}
.main-window__top-line {
  background: linear-gradient(90deg, #000080 0%, #1083d0 100%);
  margin: 4px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.main-window__top-line > h1, .main-window__top-line > h2 {
  color: #fff;
  margin: 0 20px;
  padding-top: 2px;
}
.main-window__manager {
  display: flex;
}
.main-window__manager_close {
  margin: 0 3px;
}
.main-window__manager_maximize {
  margin: 0 1px;
}
.main-window__manager_minimize {
  margin: 0 1px;
}
.main-window__spacer {
  background: #c0c0c0;
  height: 20px;
  margin: 0 4px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  height: 87%;
}
main .chat-list {
  margin: 4px 0 0 5px;
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #fff;
  box-sizing: border-box;
}
main .chat-list__action-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 96%;
  justify-content: space-around;
}
main .chat-list__button {
  font-size: 8px;
  border: 0;
  background: none;
  width: 60px;
  height: 52px;
  margin: 10px 5px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  justify-content: center;
}
main .chat-list__button_add {
  background-image: url("../img/chat-list-add.png");
}
main .chat-list__button_dell {
  background-image: url("../img/chat-list-dell.png");
}
main .chat-list__button_search {
  background-image: url("../img/chat-list-search.png");
}
main .chat-list__button:hover {
  text-decoration-line: underline;
}
main .chat-list__spacer {
  min-height: 2px;
  margin: 2px 0;
  width: 100%;
}
main .chat-list__contacts {
  margin: 2px;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  overflow-y: scroll;
  box-sizing: border-box;
}
main .chat-list .chat-list-item {
  width: 100%;
  height: 60px;
  background: rgba(217, 217, 217, 0.3);
  border-width: 0 0 1px;
  border-style: dashed;
  border-color: #7b7b7b;
  overflow: hidden;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .chat-list .chat-list-item__avatar {
  width: 50px;
  height: 50px;
}
main .chat-list .chat-list-item__avatar_null {
  background-image: url("/src/assets/img/LOGO.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .chat-list .chat-list-item__message {
  margin: 9px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 90%;
  flex-grow: 7;
  align-items: start;
  justify-content: start;
  max-width: 60%;
}
main .chat-list .chat-list-item__message-from {
  font-size: 9px;
  height: 30%;
  margin-bottom: 5px;
  overflow: hidden;
}
main .chat-list .chat-list-item__message-text {
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: start;
  hyphens: auto;
}
main .chat-list .chat-list-item__information {
  flex-grow: 1;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
main .chat-list .chat-list-item__date {
  font-size: 8px;
}
main .chat-list .chat-list-item__unread {
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .chat-list .chat-list-item__unread-after {
  min-width: 15px;
  height: 15px;
  background-image: url("../img/envelope.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .chat-list .chat-list-item:hover {
  background: linear-gradient(180deg, #f4f4f4 0%, #cdcdcd 118.38%);
}
main .chat {
  margin: 4px 4px 0 6px;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}
main .chat-text-block {
  background: linear-gradient(215.45deg, #74bee5 -14.25%, #fff 24.32%);
  min-height: 92%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
main .chat-text-block__top-bar {
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: end;
}
main .chat-text-block__to-talk-to {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}
main .chat-text-block__to-talk-to-avatar {
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 30px;
}
main .chat-text-block__to-talk-to-name {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0 0 0 15px;
}
main .chat-text-block__user {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
main .chat-text-block__user-name {
  margin: 10px 30px 17px 0;
}
main .chat-text-block__button {
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  margin: 10px 30px 17px 0;
}
main .chat-text-block__button_setting {
  background-image: url("../img/chat-text-block-user-setting.png");
}
main .chat-text-block__button_exit {
  background-image: url("../img/chat-text-block-user-exit.png");
}
main .chat-text-block__spacer {
  width: 100%;
  margin-left: 50%;
  height: 2px;
}
main .chat-send-block {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .chat-send-block__clip {
  box-shadow: none;
  width: 40px;
  height: 35px;
  background-image: url("../img/chat-send-block-clip.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .chat-send-block__textarea {
  font-size: 14px;
  background: #fff;
  width: 70%;
  min-width: 600px;
  min-height: 40px;
  box-sizing: border-box;
  margin: 0 15px;
  padding-left: 15px;
}
main .chat-send-block__send {
  font-size: 10px;
  width: 130px;
  height: 40px;
}

.status-bar {
  display: flex;
  height: 25px;
  flex-direction: row;
  margin: 5px 4px;
}
.status-bar__container {
  width: 25.5%;
  display: flex;
  flex-direction: row;
}
.status-bar__section {
  height: 25px;
  margin: 0 1px;
  padding: 0 5px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.status-bar__section_right {
  justify-content: end;
}
.status-bar__section_left {
  justify-content: start;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.modal {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* см. ниже */
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=index.css.map */
