@import "user-settings";
@import "components";
@import "scroll-decorate";
@import "variables";
@import "error";
@import "login";
@import "messenger";
@import "modal";

body {
  margin: 0;
}

.wrapper {
  background: #008080;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-window {
  @extend %window;

  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 10px 6px rgb(0 0 0 / 25%));

  &_chat {
    width: 1280px;
    height: 720px;
  }

  &__top-line {
    background: linear-gradient(90deg, #000080 0%, #1083d0 100%);
    margin: 4px;
    min-height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__top-line > h1,
  &__top-line > h2 {
    @extend %font-for-headers;

    color: #fff;
    margin: 0 20px;
    padding-top: 2px;
  }

  &__manager {
    display: flex;

    &_close {
      @extend %button-close;

      margin: 0 3px;
    }

    &_maximize {
      margin: 0 1px;

      @extend %button-maximize;
    }

    &_minimize {
      @extend %button-minimize;

      margin: 0 1px;
    }
  }

  &__spacer {
    @extend %in-window-border-min;

    background: $surface;
    height: 20px;
    margin: 0 4px;
    box-sizing: border-box;
  }
}

main {
  display: flex;
  flex-direction: row;
  height: 87%;

  .chat-list {
    @extend %in-window-border;

    margin: 4px 0 0 5px;
    display: flex;
    flex-direction: column;
    width: 25%;
    background: $field;
    box-sizing: border-box;

    &__action-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      width: 96%;
      justify-content: space-around;
    }

    &__button {
      @extend %font-for-headers;

      font-size: 8px;
      border: 0;
      background: none;
      width: 60px;
      height: 52px;
      margin: 10px 5px 5px;
      box-sizing: border-box;
      display: flex;
      align-items: end;
      justify-content: center;

      &_add {
        background-image: url("../img/chat-list-add.png");
      }

      &_dell {
        background-image: url("../img/chat-list-dell.png");
      }

      &_search {
        background-image: url("../img/chat-list-search.png");
      }
    }

    &__button:hover {
      text-decoration-line: underline;
    }

    &__spacer {
      @extend %colored-horizontal-spacer;

      min-height: 2px;
      margin: 2px 0;
      width: 100%;
    }

    &__contacts {
      margin: 2px;
      padding: 0;
      list-style: none;
      flex-grow: 1;
      overflow-y: scroll;
      box-sizing: border-box;
    }

    .chat-list-item {
      width: 100%;
      height: 60px;
      background: rgb(217 217 217 / 30%);
      border-width: 0 0 1px;
      border-style: dashed;
      border-color: #7b7b7b;
      overflow: hidden;
      padding-left: 8px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      &__avatar {
        width: 50px;
        height: 50px;

        &_null {
          background-image: url("/src/assets/img/LOGO.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &__message {
        margin: 9px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 90%;
        flex-grow: 7;
        align-items: start;
        justify-content: start;
        max-width: 60%;
      }

      &__message-from {
        @extend %font-for-headers;

        font-size: 9px;
        height: 30%;
        margin-bottom: 5px;
        overflow: hidden;
      }

      &__message-text {
        @extend %regular-font;

        height: 60%;
        overflow: hidden;
        display: flex;
        align-items: start;
        justify-content: start;
        hyphens: auto;
      }

      &__information {
        @extend %font-for-headers;

        flex-grow: 1;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
      }

      &__date {
        @extend %font-for-headers;

        font-size: 8px;
      }

      &__unread {
        @extend %font-for-headers;

        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__unread-after {
        //content: "";
        min-width: 15px;
        height: 15px;
        background-image: url("../img/envelope.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .chat-list-item:hover {
      background: linear-gradient(180deg, #f4f4f4 0%, #cdcdcd 118.38%);
    }
  }

  .chat {
    margin: 4px 4px 0 6px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
  }

  .chat-text-block {
    @extend %in-window-border;

    background: linear-gradient(215.45deg, #74bee5 -14.25%, #fff 24.32%);
    min-height: 92%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    &__top-bar {
      height: 70px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: wrap;
      flex-direction: row;
      justify-content: end;
    }

    &__to-talk-to {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: end;
    }

    &__to-talk-to-avatar {
      width: 50px;
      height: 50px;
      margin: 10px 10px 0 30px;
    }

    &__to-talk-to-name {
      @extend %font-for-headers;

      height: 40px;
      display: flex;
      justify-content: start;
      align-items: start;
      margin: 0 0 0 15px;
    }

    &__user {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;
    }

    &__user-name {
      @extend %font-for-headers;

      margin: 10px 30px 17px 0;
    }

    &__button {
      width: 25px;
      height: 25px;
      border: none;
      background: none;
      margin: 10px 30px 17px 0;

      &_setting {
        background-image: url("../img/chat-text-block-user-setting.png");
      }

      &_exit {
        background-image: url("../img/chat-text-block-user-exit.png");
      }
    }

    &__spacer {
      @extend %colored-horizontal-spacer;

      width: 100%;
      margin-left: 50%;
      height: 2px;
    }
  }

  .chat-send-block {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__clip {
      @extend %button;

      box-shadow: none;
      width: 40px;
      height: 35px;
      background-image: url("../img/chat-send-block-clip.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__textarea {
      @extend %in-window-border;
      @extend %regular-font;

      font-size: 14px;
      background: $field;
      width: 70%;
      min-width: 600px;
      min-height: 40px;
      box-sizing: border-box;
      margin: 0 15px;
      padding-left: 15px;
    }

    &__send {
      @extend %button;
      @extend %font-for-headers;

      font-size: 10px;
      width: 130px;
      height: 40px;
    }
  }
}

.status-bar {
  display: flex;
  height: 25px;
  flex-direction: row;
  margin: 5px 4px;

  &__container {
    width: 25.5%;
    display: flex;
    flex-direction: row;
  }

  &__section {
    @extend %in-window-border-min;
    @extend %regular-font;

    height: 25px;
    margin: 0 1px;
    padding: 0 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;

    &_right {
      justify-content: end;
    }

    &_left {
      justify-content: start;
    }
  }
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.modal {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* см. ниже */
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgb(0 0 0 / 15%);
}
