<!doctype html>
<html lang="ru">
{{#block "head"}}
    {{> head}}
{{/block}}

{{#block "body"}}
    <body>
    <div class="wrapper">
        <div class="main-window" id="main-window">
            {{#block "header"}}
                {{> header}}
            {{/block}}

            {{#block "main"}}
                {{>main}}
            {{/block}}

            {{#block "footer"}}
                {{> footer}}
            {{/block}}

            {{#block "scripts"}}
                {{#each scripts}}
                    <script defer src="{{this}}"></script>
                {{/each}}
            {{/block}}

        </div>

    </div>
    {{#block "div"}}

    {{/block}}
    </body>
{{/block}}
</html>

