::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: $surface;
}

::-webkit-scrollbar-track {
  background-image: url("../assets/icon/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: $surface;

  @extend %out-window-border;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("../assets/icon/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("../assets/icon/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("../assets/icon/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("../assets/icon/button-right.svg");
}
