@import "variables";
@import "scroll-decorate";



body {
  margin: 0;
}

.wrapper {
  background: #008080;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  @extend %window;
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.25));

  &__top-line {
    background: linear-gradient(90deg, #000080 0%, #1083d0 100%);
    margin: 4px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__top-line > h1 {
    @extend %press-start-2p;
    color: #ffffff;
    margin: 0 20px;
    padding-top: 2px;
  }


  &__manager {
    display: flex;

    &_close {
      @extend %window-manager-button;
      margin: 0 3px;
      background-image: url(../icon/close.svg);
      background-repeat: no-repeat;
      background-position: top 3px left 4px;
    }

    &_maximize {
      @extend %window-manager-button;
      margin: 0 1px;
      background-image: url(../icon/maximize.svg);
      background-repeat: no-repeat;
      background-position: top 2px left 3px;
    }

    &_minimize {
      @extend %window-manager-button;
      margin: 0 1px;
      background-image: url(../icon/minimize.svg);
      background-repeat: no-repeat;
      background-position: top 9px left 5px;
    }
  }

  &__spacer {
    @extend %in-window-border-min;
    background: $surface;
    height: 20px;
    margin: 0 4px;
    box-sizing: border-box;
  }

}

main {
  display: flex;
  flex-direction: row;
  height: 87%;

  .chat-list {
    @extend %in-window-border;
    margin: 4px 0 0 5px;
    display: flex;
    flex-direction: column;
    width: 25%;
    background: $field;
    box-sizing: border-box;

    &__action-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      width: 96%;
      justify-content: space-around;
    }

    &__button {
      @extend %press-start-2p;
      font-size: 8px;
      border: 0;
      background: none;
      width: 60px;
      height: 52px;
      margin: 10px 5px 5px 5px;
      box-sizing: border-box;
      display: flex;
      align-items: end;
      justify-content: center;

      &_add {
        background-image: url(../img/chat-list-add.png);

      }

      &_dell {
        background-image: url(../img/chat-list-dell.png);
      }

      &_search {
        background-image: url(../img/chat-list-search.png);
      }
    }

    &__button:hover {
      text-decoration-line: underline;
    }

    &__spacer {
      @extend %colored-horizontal-spacer;
      min-height: 2px;
      margin: 2px 0;
      width: 100%;
    }

    &__contacts {
      flex-grow: 1;
      overflow-y: scroll;
      box-sizing: border-box;

    }

    .chat-list-item {

      height: 60px;
      background: rgba(217, 217, 217, 0.3);
      border-width: 0 0 1px 0;
      border-style: dashed;
      border-color: #7b7b7b;
      overflow: hidden;
      padding-left: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__avatar {
        width: 50px;
        height: 50px;
      }

      &__message {
        margin: 9px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 90%;
        flex-grow: 7;

      }

      &__message-from {
        @extend %press-start-2p;
        height: 30%;
        position: relative;
        margin-bottom: 5px;
      }

      &__message-text {
        @extend %post-pixel-7;
        height: 60%;
        overflow: hidden;

      }

      &__information {
        @extend %press-start-2p;
        flex-grow: 1;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      &__date {
        @extend %press-start-2p;
        font-size: 8px;
      }

      &__unread {
        @extend %press-start-2p;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__unread::after {
        content: '';
        min-width: 15px;
        height: 15px;
        background-image: url(../img/envelope.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

    .chat-list-item:hover {
      background: linear-gradient(180deg, #F4F4F4 0%, #CDCDCD 118.38%);

    }

  }

  .chat {
    margin: 4px 4px 0 6px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;

  }

  .chat-text-block {
    @extend %in-window-border;
    background: linear-gradient(215.45deg, #74BEE5 -14.25%, #FFFFFF 24.32%);
    min-height: 92%;
    display: flex;
    flex-grow: 1;

    &__top-bar {
      height: 70px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: end;
      flex-wrap: wrap;

    }

    &__companion {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: end;


    }

    &__companion-avatar {
      width: 50px;
      height: 50px;
      margin: 10px 10px 0 30px;

    }

    &__companion-name {
      @extend %press-start-2p;
      height: 40px;
      display: flex;
      justify-content: start;
      align-items: start;
      margin: 0 0 0 15px;


    }

    &__user {

      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: end;


    }

    &__user-name {
      @extend %press-start-2p;
      margin: 10px 30px 17px 0;


    }

    &__button {
      width: 25px;
      height: 25px;
      border: none;
      background: none;
      margin: 10px 30px 17px 0;

      &_setting {
        background-image: url(../img/chat-text-block-user-setting.png);

      }

      &_exit {
        background-image: url(../img/chat-text-block-user-exit.png);
      }
    }

    &__spacer {
      @extend %colored-horizontal-spacer;
      width: 45%;
      height: 2px;
    }

  }

  .chat-send-block {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__clip {
      @extend %button;
      box-shadow: none;
      width: 40px;
      height: 35px;
      background-image: url(../img/chat-send-block-clip.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &__textarea {
      @extend %in-window-border;
      @extend %post-pixel-7;
      font-size: 14px;
      background: $field;
      width: 70%;
      min-width: 600px;
      min-height: 40px;
      box-sizing: border-box;
      margin: 0 15px;
      padding-left: 15px;
    }

    &__send {
      @extend %button;
      @extend %press-start-2p;
      font-size: 10px;
      width: 130px;
      height: 40px;
    }
  }
}


.status-bar {
  display: flex;
  height: 25px;
  flex-direction: row;
  margin: 5px 4px;

  &__container {
    width: 25.5%;
    display: flex;
    flex-direction: row;
  }

  &__section {
    @extend %in-window-border-min;
    height: 25px;
    margin: 0 1px;
    flex-grow: 1;
    display: block;
  }
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}


