<div class="error">
    <h2 class="error__title">{{title-error}}</h2>
    <p class="error__p">Теперь питание компьютера</p>
    <p class="error__p">можно выключить</p>
    <a class="error__link" href="{{link-error}}" >{{link-error-text}}</a>
</div>
