<footer>
    <div class="status-bar">
        <div class="status-bar__container">
            <div class="status-bar__section"></div>
            <div class="status-bar__section"></div>
        </div>
        <div class="status-bar__section"></div>
    </div>
</footer>