<header>
    <div class="main-window__top-line">
        <h1>{{title}}</h1>
        <div class="main-window__manager">
            <button class="main-window__manager_minimize" id="main-window-minimize"></button>
            <button class="main-window__manager_maximize" id="main-window-maximize"></button>
            <button class="main-window__manager_close" id="main-window-close"></button>
        </div>
    </div>
    <div class="main-window__spacer"></div>
</header>