---
stylesheets:
- ../css/index.scss
- ../css/login.scss
- ../css/user-settings.scss

title: "Изменение пароля"

scripts:
- ../../index.js

---


{{#extend "modal"}}
    {{#content "body"}}
        <div class="main-window" >
            <header class="main-window__top-line">
                <h1>{{title}}</h1>
                <div class="main-window__manager">
                    <button class="main-window__manager_close" id="main-window-close"></button>
                </div>
            </header>
            <main class="container_column_start" style="padding: 40px">
                <img src="../../img/LOGO.svg" alt="LOGO" class="logo">
                <form class="login-form container_column_start">
                    <label for="old_password" class="login-form__field-label">Старый пароль</label>
                    <input type="text" class="login-form__field-text" id="password">
                    <label for="new_password" class="login-form__field-label">Новый пароль</label>
                    <input type="password" class="login-form__field-text" id="new_password">
                    <label for="return_password" class="login-form__field-label">Повторите пароль</label>
                    <input type="password" class="login-form__field-text" id="return_password">
                    <div class="container_row_end" style="width: 300px">
                        <a class="button" href="chat.hbs">Регистрация</a>
                    </div>
                </form>
            </main>
        </div>
    {{/content}}
{{/extend}}
