@import "variables";

.user-settings {
  min-width: 500px;

  &__avatar {
    margin: 20px;
    width: 120px;
    height: 120px;
  }

  &__button {
    font-size: 8px;
    padding: 10px;
  }

  &__button:first-child {
    margin-right: 8px;
  }

  &__button:last-child {
    margin-left: 8px;
  }

  &__field-label {
    @extend %font-for-headers;

    font-size: 9px;
  }

  &__field-label:first-child {
    margin-top: 20px;
  }

  &__field-text {
    width: 98%;
    height: 25px;
    margin-bottom: 8px;

    @extend %in-window-border;
  }
}
